body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}
h1 {
color: #ffffff	
}

h2 {
color: #ffffff	
}

p {
color: #ffffff	
}

.main-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  gap: 20px; 
}

.description {
  width: 50%;
  background-color: #919E7D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
              0 0 30px rgba(255, 255, 255, 0.6);
  text-align: left;
  animation: glowing-border 2s infinite alternate ease-in-out;
}

.container {
  position: relative; 
  width: 500px;  
  height: 500px;
  background-color: #919E7D;
  border-radius: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 20px;
  overflow: hidden;
  color: white;
  
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
              0 0 30px rgba(255, 255, 255, 0.6);
  animation: glowing-border 2s infinite alternate ease-in-out;
}


@keyframes glowing-border {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
                0 0 20px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 
                0 0 40px rgba(255, 255, 255, 0.7);
  }
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

#back {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  object-fit: cover;
  z-index: -1; 
}
