body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-color: #ABAE98;
}

.main-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  gap: 20px; 
}